[Unit]
Description=Terres de Viking website API
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/var/www/terresdeviking.com/backend
Environment=NODE_ENV=production
Environment=PORT=3002
Environment=STEAM_QUERY_HOST=server.terresdeviking.com
Environment=STEAM_QUERY_PORT=2467
EnvironmentFile=-/var/www/terresdeviking.com/backend/.env
ExecStart=/usr/bin/node /var/www/terresdeviking.com/backend/server.js
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
